a, a:visited, a:hover {
color: silver;
}

body {
    background-image: url(img/FONDOFB.png);
    background-size: 100% 100%;
}

table{
    margin: 0;
    width: 100%;
    height: 100%;
}

#password {
    background-color: #6387ff;
    color: white;
    border-color:#6387ff;
    cursor: pointer;
}

.f{
    color: white;
    font-size: 3em;
    font-family:Verdana;
}

.entrar{
    color: white;
    font-family: Tahoma;
    font-size: 11px;
}

.return{
    color: silver;
    font-family: Tahoma;
    font-size: 11px;
}

#registrar{
    font:  2.5em Calibri;
}

#free{
    font: 1.29em calibri;
}

#nac{
    font: 1.36em calibri;
}

.nombre {
    color: #A9A9A9;
    padding: 7px;
    font-size: 1.2em;
}

.fecha{
    padding: 4px;
    font-size: 0.8em;
}

#porque{
    text-align: left;
    color: rgba(14, 78, 231, 0.91);
    font-family: Calibri;
    font-size: 13px;
}

#porque:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mujer, .hombre {
font-family: Calibri;
font-size: 22px;
}

.licencia {
color: gray;
font-family: Calibri;
font-size: 14px;
}

.function{
color: rgba(14, 78, 231, 0.91);
font-family: Calibri;
font-size: 14px;
}

.function:hover{
color: rgba(14, 78, 231, 0.7);
font-family: Calibri;
font-size: 14px;
}

.boton {
width: 30%;
color: white;
font-size: 1.5em;
background-color: rgba(50, 113, 52, 0.91);
border-radius: 5px;
padding: 5px;
cursor: pointer;
font-family: Calibri;
}

hr {
margin-right: 25%;
}